@using Management.Web.Shared.Components

@inject AssignmentDragContainer dragContainer
@inject CoursePlanner planner

@code {
  [Parameter]
  [EditorRequired]
  public LocalAssignment assignment { get; set; } = new();
  [Parameter]
  [EditorRequired]
  public LocalModule module { get; set; } = new();
  private bool showUpdateForm = false;
  
  protected override void OnInitialized()
  {
    planner.StateHasChanged += reload;
  }
  private void reload()
  {
    this.InvokeAsync(this.StateHasChanged);
  }
  public void Dispose()
  {
    planner.StateHasChanged -= reload;
  }
  private Modal? assignmentEditorModal {get; set;}
  private void HandleDragStart()
  {
    dragContainer.DropCallback = (DateTime dropDate) => {
      if (planner.LocalCourse != null)
      {
        var newCourse = planner.LocalCourse with 
        {
          Modules = planner.LocalCourse.Modules.Select(m => 
            m.Name != module.Name
              ? m
              : m with 
              {
                Assignments = module.Assignments.Select(a => 
                  a.id != assignment.id
                  ? a
                  : a with 
                  {
                    due_at=dropDate
                  }
                )
              }
          )
        };
        planner.LocalCourse = newCourse;
      }
    };
  }

  private void HandleDragEnd()
  {
    dragContainer.DropCallback = null;
  }

}

<div 
  draggable="true"
  @ondragstart="HandleDragStart"
  @ondragend="HandleDragEnd"
  @onclick="@(() => showUpdateForm = true)"
  class="draggableCart"
  role="button"
>
  <div class="card">
    <div class="card-body">
      <div class="card-title">@assignment.name</div>
      <div class="card-text">
        @assignment.description
        <div>Due At: @assignment.due_at</div>
        <div>Lock At: @assignment.lock_at</div>
        <div>Points: @assignment.points_possible</div>
        @if(assignment.canvasId != null)
        {
          <div>Synced with canvas</div>
        }
        else
        {
          <div>Not synced with canvas</div>
        }
        <code>@JsonSerializer.Serialize(@assignment.rubric)</code>
      </div>

    </div>
  </div>
</div>

<AssignmentForm
  assignment="assignment"
  Show="showUpdateForm"
  OnHide="@(() => showUpdateForm = false)"
/>